.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-nota {
  margin: 0;
}

.p-title {
  font-size: 20px;
  font-weight: 500;
}

.fa-sticky-note {
  font-size: 80px;
}
